@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.icons{
    font-size: 100px;
}

#numbers{
    font-size: 100px;
}

.card{
    border-radius: 15px;
    overflow:hidden;
}
